@media screen and (min-width:993px) and (max-width:1200px) {


/* shared style */
.primary-btn{
    border: none;
    border-radius: 10000px;
    padding: 0.75rem 1rem;
    font-size:1rem ;
    font-weight:600 ;
    color:white ;
    background: linear-gradient(35deg,#F7E93F 10%, #FB09B4 51%, #9100F8 100% );
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;


}

.primary-btn:hover{
    background:#9100F8;
}

.secondary-btn{
    border: 1px solid #00FF88;
    border-radius: 10000px;
    padding: 0.75rem 1.25rem;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.secondary-btn:hover{
    background-color: #9100F8;
    border: 1px solid transparent;
}

.btn-img{
    vertical-align: middle;
}

.margin{
    margin: 0 auto;
}

.flex{
    display: flex;
}

.center{
    justify-content: center;
}

/* main style */


/* Navbar related Style */
header{
    padding: 1rem 1rem;
}


/* hero related style */

.hero-container{
    padding:1rem;

}


.circle-img{
    align-items: center;
    position: relative;
    z-index: 1;
    transform: rotate(360deg, 1s infinity);
}

.microphone{
    position: absolute;
    z-index: 3;
}

.hero-title{
    text-align: center;
    margin-top: 2.5rem;
}

.hero-heading{
    font-size:3.75rem ;
    font-weight: 900;
    color: white;
    margin-bottom: 0.5rem;
}


.hero-description{
    font-size:1rem ;
    color: white;
    margin-bottom: 1.5rem;
    opacity: 80%;
}

.action-btn{
    gap: 0.5rem;
}


/* choose related style */

.choose{
    padding: 7rem 12rem;
}

.choose-heading{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.choose-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.headphone{
    grid-column: span 1;
    grid-row: span 1;
}


.mobile{
    grid-column: span 1;
}

.global{
    grid-column: span 1;
}


.exclusive{
    grid-column: span 1;
}

.resources{
   grid-column: span 2;
}


/* Feature related style */
.feature{
    padding: 2rem 2rem;

}


}
