@media screen and (min-width:1201px) and (max-width:1440px) {

/* Navbar related Style */

/* hero related style */


.hero{
    background-image: url('../images/1440\ bg.png');
    width: 100%;
    height:auto;



.hero-container{
    padding: 1rem;

}
.footer-container{
    padding: 5rem 2rem;

}

footer{
    height: auto;
}

}


