@media screen and (max-width:576px){
    

/* Navbar related Style */
header{
    padding: 1.125rem 1.25rem;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
}
.brand{
    width: 137px;
}
.navbar .primary-btn{
    display: none;
}
.menu{
    display: none;
}

.bars{
    display: flex;
    align-items: center;
    color: white;
    font-size: 24px;
}

/* hero related style */
.hero{
    background-image: url('../images/mb.png');
}

.hero-container{
    padding:40px 20px;

}

/* Podcast related style */
.podcast{
    background-color: #1A0B2E;
    padding:40px 20px;
    text-align: center;
}


.podcast-heading{
    font-size: 2rem;
}

.podcast-description{
    font-size:1rem ;
    padding-bottom: 2.5rem ;
}

.podcast-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
}

.bottom-line{
    margin-bottom: 2.5rem;
}

.podcast-info-details h3{
    font-size: 2.5rem;
    color: #00FF88;
    margin: 1rem;
}



/* choose related style */

.choose{
    padding: 2.5rem 1.25rem;
}

.choose-heading{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.choose-card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.choose-card-info{
    border-radius: 1.5rem;
}

.choose-card-info img{
    margin-bottom: 1rem;
    max-width: 3.75rem;
}


.choose-card-info h3{
    margin-bottom: 1rem;
    font-size: 1.375rem;
}


/* Feature related style */
.feature{
    padding: 2.5rem 1.25rem;
}

.feature-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.feature-heading{
    font-size:2rem ;
}

.feature-card{
    flex-direction: column;
    gap: 1rem;
}




.feature-card-item{
    border-radius: 1rem;
    width: 400px;
}


.feature-card-item h3{
    font-size: 1.25rem;
    padding:1rem 1rem 0.5rem 1rem ;
}

.feature-card-item p{
    padding:0 1rem 0.5rem 1rem ;
}



.time h4{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: #00FF88;

}


.host-details{
    border-radius: 1.5rem;
    width: 100%;
    padding: 1.5rem;
    flex-direction: column;
    text-align: center;
}





.icons{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}


}