*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}


.bg-color{
    background-color: #1A0B2E;
}

/* shared style */
.primary-btn{
    border: none;
    border-radius: 10000px;
    padding: 0.75rem 1rem;
    font-size:1rem ;
    font-weight:600 ;
    color:white ;
    background: linear-gradient(35deg,#F7E93F 10%, #FB09B4 51%, #9100F8 100% );
    display: flex;
    align-items: center;
    gap: 4px;

}

.margin{
    margin: 0 auto;
}

.flex{
    display: flex;
}

.center{
    justify-content: center;
}

/* main style */


/* Navbar related Style */
header{
    background-color: #1A0B2E;
    padding: 1.5rem 12.5rem;
    border-bottom: 1px solid #412567;
}
.navbar{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1200px;
}

.menu{
    list-style: none;
    display: flex;
    align-items: center;
}
.menu-list{
    display: flex;
    gap: 2rem;
}
.menu-item{
    text-decoration: none;
    font-size:1rem ;
    font-weight:500 ;
    color: #FFFFFF;
    line-height: 120%;
    opacity: 90%;
}

.hero{
    background-image: url('../images/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
    height: 760px;
    margin: 0 auto;
}

.hero-container{
    padding: 101px 525px;

}

.hero-circle-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.badge{
    background-color: #00FF88;
    font-size: 1.125rem;
    font-weight: 600;
    color: #1A0B2E;
    border-radius: 10000px;
    position: absolute;
    z-index: 2;
    padding: 0.5rem 1rem;
    margin-top: -300px;
    margin-right: -200px;
    box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
    
}
.circle-img{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.microphone{
    position: absolute;
    z-index: 3;
}

.hero-title{
    text-align: center;
    margin-top: 2.5rem;
}

.hero-heading{
    font-size:3.75rem ;
    font-weight: 900;
    color: white;
    margin-bottom: 0.5rem;
}


.hero-description{
    font-size:1rem ;
    color: white;
    margin-bottom: 1.5rem;
    opacity: 80%;
}