*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}


.bg-color{
    background-color: #1A0B2E;
}

/* shared style */
.primary-btn{
    border: none;
    border-radius: 10000px;
    padding: 0.75rem 1rem;
    font-size:1rem ;
    font-weight:600 ;
    color:white ;
    background: linear-gradient(35deg,#F7E93F 10%, #FB09B4 51%, #9100F8 100% );
    display: flex;
    align-items: center;
    gap: 4px;

}

.margin{
    margin: 0 auto;
}

.flex{
    display: flex;
}

.center{
    justify-content: center;
}

/* main style */


/* Navbar related Style */
header{
    background-color: #1A0B2E;
    padding: 1.5rem 12.5rem;
    border-bottom: 1px solid #412567;
}
.navbar{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1200px;
}

.menu{
    list-style: none;
    display: flex;
    align-items: center;
}
.menu-list{
    display: flex;
    gap: 2rem;
}
.menu-item{
    text-decoration: none;
    font-size:1rem ;
    font-weight:500 ;
    color: #FFFFFF;
    line-height: 120%;
    opacity: 90%;
}

