*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}


body{
    background-color: #1A0B2E;
}

.flex{
    display: flex;
}

.margin{
    margin: 0 auto;
}

.primary-btn{
    padding: 0.75rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    border: none;
    border-radius:10000px;
    background: linear-gradient(25deg, rgba(247, 233, 63, 1)15%,rgba(251, 9, 180, 1)50%,rgba(145, 0, 248, 1)100%);
    cursor: pointer;
    align-items: center;
    gap: 4px;
}




/* navbar related style */

header{
    padding: 1.5rem 12.5rem;
    border-bottom: 0.5px solid #6a00ff;
}
.navbar{
    max-width: 1200px;
    justify-content: space-between;
    background-color: #1A0B2E;
}

.menu{
    list-style: none;
    gap: 2rem;
    align-items: center;
}

.menu-item{
    text-decoration: none;
    font-size: 1rem;
    color:white ;
    font-weight:500 ;
    opacity: 90%;
}

